[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/cppitertools"]
	path = lib/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "lib/scnlib"]
	path = lib/scnlib
	url = https://github.com/eliaskosunen/scnlib.git
[submodule "lib/ctre"]
	path = lib/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
